#app .image{
	.defaultDisplay();
	

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  
	&.resize-mode-cover{
		background-size: cover;
	}
	&.resize-mode-contain{
		background-size: contain;
	}
	&.resize-mode-stretch{
		background-size: stretch;
	}
}